    <!-- Header Section start  -->
      <div class="header">
        <mat-toolbar color="primary" class="example-toolbar header_toolbar">
                <button mat-icon-button (click)="snav.toggle()" class="mobview"><mat-icon>menu</mat-icon></button>
                <span class="title">Wrapper Administration Panel</span>
      
                <span class="spacer"></span>
      
            <mat-form-field class="company_font_size">
              <mat-select placeholder="Select Company">
                <mat-option *ngFor="let company of companies" [value]="company.value">
                  {{company.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <button mat-button class="margin20">Signout</button>

            <!-- {{mobileQuery.matches}} -->
        </mat-toolbar>
        </div>

<!-- Header Section end  -->

<!-- Sidnav Section start  -->
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="sidebar" opened ="true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
 
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Administrators</a>
      <a mat-list-item>Companies</a>
      <a mat-list-item>Sign Up Form</a>
      <a mat-list-item>Languages</a>
      <a mat-list-item>Memebers</a>
      <a mat-list-item>Groups</a>
      <a mat-list-item>Systems</a>
      <a mat-list-item>Subjects</a>
      <a mat-list-item>Component Manager</a>
      <a mat-list-item>Place Type Manager</a>
      <a mat-list-item>Theme Manager</a>
      <a mat-list-item>Frame Manager</a>
      <a mat-list-item>Page Manager</a>
      <a mat-list-item>Pulse Metrics</a>
      <a mat-list-item>Advertisements</a>
      <a mat-list-item>Reporting</a>
    </mat-nav-list>
   
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  
 
</mat-sidenav-container>
<!-- Sidenav Section end  -->


  

  


