/* .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  } */
  
  /* .title {padding-left: 32px;} */
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  .hidden {
    display: none;
  }
  .spacer {
    /* flex: 1 1 auto; */
    margin: 0px auto;
  }
  .margin20 {
    margin-left: 20px;
  }
  .company_font_size {
     padding-top: 15px;
     font-size: 13px;
  }
  .mat-toolbar.mat-primary {
    font-size: 25px;
  }

 

  
